
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: 'Poppins', sans-serif;  
}
body{
  background: #ffffff;
  transition: background-color .5s;
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background: rgb(255, 253, 253);        
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(195, 195, 202);  
  border-radius: 20px;      
  border: 3px solid rgb(255, 255, 255);  
}

#site-content hr{
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

/* menu */

/* <-----------------------------------------------------------------------------> */
.hamburger{
  display: none;
}
#mySidenav{
  display: none;
}

#site-header .menu-bottom .menu-text ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  justify-content: space-between;

}
#site-header .menu-bottom .menu-text ul li{
  margin: 0;
}
#site-header .menu-bottom .menu-text ul .last{
  margin: 0;
}
#site-header .menu-bottom .menu-text ul li ul{
  display: block;
  margin-right: 15px;
  cursor: pointer;  
  display: none;
  width: 100%;
  background: white;
  position: absolute;
  left: 0px;
  padding-left: 56px;
  box-shadow: 0px 50px 34px #78636399;
  border-top: none;
}
#site-header .menu-bottom .menu-text ul li ul li{
  margin:0;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  
}
#site-header .menu-bottom .menu-text ul li a{
  padding: 0;
}

#site-header .header-inner{
  max-width: 100%;
  width: 100%;
  padding: 8px 60px;
}

#site-header .top-menu{
  background: #f4f4f4;
}
#site-header .header-titles img{
  padding-left: 20px;
}
#site-header .text-menu-top{
  display: flex;
}
#site-header .text-menu h1{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0;
}
#site-header .text-menu h1 span{
  color: #e1a546;
}
#site-header .text-menu-top .col-8{
  padding: 0;
}
#site-header .logo-service{
  display: flex;
  justify-content: flex-end;
}
#site-header .logo-service .text-top-service span{
  font-size: 14px;
}
#site-header .logo-service .text-top-service span.h{
  font-weight: bold;
}
#site-header .logo-service .text-top-service span.c{
  font-weight: 200;
}
#site-header .logo-service .img-service img{
  display: flex;
  width: 50px;
}
#site-header .logo-service .top-service{
  display: flex;
  padding-left: 40px;
}
#site-header .text-menu-top{
  width: 100%;
}
#site-header .col-4{
  padding: 0;
  top: 10px ;
}
#site-header .top-service{
  align-items: center;
}
#site-header .top-service .middle{
  padding-top: 5px;
}

#site-header .header-navigation-wrapper{
  width: 100%;
}

#site-header .menu-midle{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.dropbtn {
  background-color: rgba(255, 255, 255, 0);;
  color: rgb(0, 0, 0);
  padding: 10px;
  padding-right: 32px;
  font-size: 16px;
  border: none;
}
.dropdown::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: rgb(206 201 201);
  top: 10px;
  left: 10.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
  font-size: 16px;
}

.dropdown-content a {
  color: black;
  padding: 3px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  text-decoration: none;
}
#site-header .menu-midle .user-login-respon .dropdown{
  display: none;
}

#site-header .logo-service .top-service .text-top-service{
  padding-left: 16px;
}

#site-header .user{
  display: flex;
  padding-right: 20px;
}
#site-header .user::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: rgb(206 201 201);
  top: 10px;
  left: 111rem;
}
#site-header .user .logo-user{
  padding-right: 15px;
}
#site-header .log-in{
  display: flex;
  padding-right: 20px;
}
#site-header .log-in::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: rgb(206 201 201);
  top: 10px;
  left: 121.5rem;
}
#site-header .logo-login {
  padding-right: 15px;
}
#site-header .cart{
  display: flex;
}
#site-header .cart .logo-cart{
  padding-right: 15px;
}

#site-header .search{
  padding-right: 20px;  
}
#site-header .menu-midle .search input[type="text"]{
  display: none;
  position: absolute;
  left: -23rem;
  width: 40%;
  height: 40px;
  margin-top: 6px;
  transition: .5s;
  box-shadow: 2px 2px 5px;
  z-index: 9999;
  outline: 0;
}
#site-header .search::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 20px;
  background-color: rgb(206 201 201);
  top: 10px;
  left: 87.5rem; 
}

#site-header .menu-midle a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}
#site-header .menu-midle a .shop{
  color: #b4cbcd;
}

#site-header .menu-text{
  width: 100%;
}
#site-header .menu-text a{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  padding-right: 86.5px;
}
#site-header .menu-text .aa{
  padding-right: 0px;
}
#site-header .menu-text a:hover{
  color:#b4cbcd;
}
#site-header .menu-bottom{
  width: 100%;
  padding: 0;
  padding-bottom: 10px;
}






/* Swiper-Slide */

/* <-----------------------------------------------------------------------------> */

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-wrapper .swiper-slide-active{
  width: 9977px;
}

/* <-----------------------------------------------------------------------------> */





/* Shoe  */

/* <-----------------------------------------------------------------------------> */

#shoe-col4 .shoe{
  margin: 0px;
  padding: 0px;
}
#shoe-col4 .shoe div{
  padding: 0;
}
#shoe-col4 .shoe .shoe-img{
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

}
#shoe-col4 .shoe img{
  width: 100%;
}

#shoe-col4 .shoe-text{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: #ffffff;
}
#shoe-col4 .shoe-text{
  width: 100%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#child-img .col-6{
  padding: 0 5px;
  
}
#child-img .child-img img{
  width: 100%;
}
#child-img .child-text{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 80px;
}

/* Social */

/* <-----------------------------------------------------------------------------> */

.social-container{
  padding-top: 110px;
  margin: 0;
  background: #ffffff;
}
.social-container .row{
  margin-top: 53px;
}
#social .text-bundgaard{
  width: 100%;
  text-align: center;
}
#social .text-bundgaard a{
  text-decoration: none
}
#social .text-bundgaard span{
  font-size: 80px;
  color: #000000;
  font-weight: bold;
}
#social .text-bundgaard span:hover{
  color: #c4d6d6;
}
#social .icon-social{
  width: 100%;
  text-align: center;
  display: flex;
  font-size: 35px;
  margin-top: 25px;
  justify-content: center;
}
#social .icon-social .icon-facebook{
  margin-right: 20px;
  width: 50px;
  border-radius: 74%;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  height: 50px;
  font-size: 28px;
  line-height: 51px;
}
#social .icon-social .icon-facebook:hover{
  background-color: #c4d6d6;
  border: none;
}
#social .icon-social .icon-facebook i:before{ 
  color: rgb(255, 255, 255); 
}
#social .icon-social .icon-mail{
  margin-right: 20px;
  width: 50px;
  border-radius: 74%;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  height: 50px;
  font-size: 25px;
  line-height: 51px;
}
#social .icon-social .icon-mail:hover{
  background-color: #c4d6d6;
  border: none;
}
#social .icon-social .icon-mail i::before{
  color: rgb(255, 255, 255); 

}
#social .icon-social .icon-instargram{
  width: 50px;
  border-radius: 74%;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  height: 50px;
  font-size: 25px;
  line-height: 51px;
}
#social .icon-social .icon-instargram:hover{
  background-color: #c4d6d6;
  border: none;
}
#social .icon-social .icon-instargram i::before{
  color: rgb(255, 255, 255); 

}

#social .col-3{
  padding: 0;
}
#social .gallery img{
  width: 98%;
}

#social .social-text{
  /* display: flex; */
  position: absolute;
  top: 50%;
  left: 40%;
  color: #ffffff;
  display: none;
}
#social .col-3:hover .social-text{
  display: flex;
}

#social .col-3:hover img{
  color: rgba(0,0,0,0.5);
}

#social .social-text .heart-social{
  padding-right: 15px;
}

#social .overlay {
  position: absolute;
  top: 0;
  width: 98%;
  height: 100%;
}
#social .col-3:hover .overlay{
  transition: .5s ease;
  background-color: rgb(0 0 0 / 65%);
  
}
#social a{
  color: white;
}

/* toggle */

/* <-----------------------------------------------------------------------------> */

#text-toggle {
  background: #ffffff;
  padding: 30px;
}
#text-toggle .text-all .more {
  padding-left: 40px;
  text-align: left;
}
#text-toggle .text-all .head h1{
  font-size: 50px;
}
#text-toggle .button-togle{
  align-items: center;
  margin-top: 30px;
  text-align: center;
}
#text-toggle .button-togle button{
  text-decoration: none;
  width: 150px;
  height: 40px;
  font-size: 15px;
  padding: 0;
}
#text-toggle .button-togle button:hover{
  background-color: #ff1856;
}
/* #text-toggle .text-long{
  display: none;
}
#text-toggle .text-short{
  display: block;
} */

.morecontent span {
  display: none;
}
.morelink {
  display: block;
}

.text-long .more .morecontent a{
  text-decoration: none;
  border: 1px solid;
  width: 115px;
  height: 50px;
  padding: 12px;
  font-size: 15px;
  text-transform: uppercase;
  background: #cd2653;
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}
.text-long .more .morecontent a:hover{
  background: #9b012a;
}


/* Service */

/* <-----------------------------------------------------------------------------> */
#service {
  background: #ffffff;
}
#service .row{
  padding: 0 236px;
  align-items: center;
}
#service .col-4{
  text-align: center;
  margin-bottom: 20px;
}
#service .col-4 img{
  width: 60px;
  display: inline;
}
#service .col-4 .midile img{
  padding-top: 15px;
}
#service .service-text .head{
  font-size: 20px;
  color: #97afbc;
}
#service .service-text .child-head{
  font-size: 14px;
  color: #a5a5a5;
}

/* footer 1 */

/* <-----------------------------------------------------------------------------> */

#foot{
  text-align: center;
  background-color: #c4d6d6; 
  padding: 75px 20px;
  padding-bottom: 5px;
}
#foot .header-footer{
  width: 100%; 
  
}
#foot .header-footer .head-text h1{
  font-size: 30px;
  color: #ffffff;
  margin: 0;
  margin-top: 20px;

}
#foot .header-footer .head-text h2{
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}
#foot .input-email{
  padding: 0 23.5%;  
  display: flex;
  margin: 30px;
}

#foot .input-email input[type="text"]{
  
  width: 90%;
  background: rgb(255 255 255 / 0%);
  border: 1px solid #ffffff;
  border-right: none;
  height: 48px;
  padding-left: 50px;
  outline: 0;

}
::placeholder{
  color: #ffffff;
}
#foot .input-email button{
  background: rgb(255 255 255 / 0%);
  border: 1px solid #ffffff;
  border-left: none;
  right: 0px;
  top: 0px;
  width: 100px;
  height: 48px;
  margin: 0;
  padding: 0;
  outline: 0;
}
#foot .input-email .fa-envelope{
  position: absolute;
  height: 7.5%;
  width: 2%;
  padding-top: 15px;
  color: #ffffff;
  padding-left: 25px;
}

#foot .input-email button:hover .fa-arrow-right{
  color: #87a7af;
}

#foot .footer-col{
  width: 100%;
  display: flex;
  padding-left: 270px;
  padding-right: 270px;
  text-align: left;
  margin-top: 112px;
  margin-bottom: 62px;
}
#foot .footer-col .img-logo{
  padding-top: 50px;
}
#foot .footer-col .text-head .fa-caret-down{
  display: none;
}
#foot .footer-col .text-head{
  font-size: 20px;
  color: #ffffff;
}
#foot .footer-col .text-child{
  font-size: 16px;
  color: #97afbc;

}
#foot .footer-col .text-child a{
  color: #ffffff;
  text-decoration: none;
}
#foot .footer-col .text-child a:hover{
  color: #87a7af;
}
#foot .footer-col .text-child .con{
  list-style-type: none;
}
#foot .footer-col .connect .con{
  margin: 0;
  padding: 0;
  display: flex;
}
#foot .footer-col .connect{
  margin: 0;
  padding: 0;
}
#foot .footer-col .connect .con{
  padding-bottom: 20px;
}

#foot .footer-col .connect .con i::before{
  margin-right: 30px; 
  font-size: 20px;
  color: #ffffff;
}
#foot .footer-col .connect .con .a::before{
  margin-right: 40px; 
  font-size: 20px;
  color: #ffffff;
}

#foot .text-head h3{
  margin: 0;
  margin-bottom: 25px;
  font-size: 20px;
}
#foot .text-head .face{
  margin: 0;
  margin-bottom: 25px;
}
#foot  .logo-so{
  display: flex;
}
#foot  .logo-so a{
  display: inline-block;
  width: 40px;
  line-height: 20px;
  text-align: center;
  height: 40px;
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin-right: 20px;
}
#foot  .logo-so a i{
  color: #c4d6d6;
  font-size: 22px;
  line-height: 40px;
  width: 40px;
}

#foot  .logo-so a i:hover{
  color: #87a7af;
  /* background-color: #87a7af; */
}


#foot .to-top{
  width: 100%;
  text-align: end;
  right: 88px;
  top: 66rem;
  z-index: 9999;
}
#foot .to-top a{
  width: 45px;
  height: 45px;
  background: #ffffff;
  color: #87a7af;
  font-size: 2.25rem;
  line-height: 40px;
  border-radius: 100%;
  border: 2px solid;
  margin: 2px;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
}
#foot .to-top a:hover{
  background: #ffffff;
  border: none;
}
#foot .footer-col .col-3 .hid1{
  display: block;
}
#foot .footer-col .col-3 .hid2{
  display: block;
}
/* footer */

/* <-----------------------------------------------------------------------------> */

footer#site-footer {
  padding: 20px 0;
}

#site-footer .footer-credits{
  width: 100%;
}
#site-footer .footer-credits span{
  width: 100%;
  text-align: center;
  font-size:14px;
  font-weight: bold;
}
#site-footer .section-inner span{
  color: #a5a5a5;
}
#site-footer a{
  color: #97afbc;
}
#site-footer a:hover {
  text-decoration: none;
}



/* Style Responsive */

/* <-----------------------------------------------------------------------------> */

@media(max-width: 1848px){
  #site-header .header-navigation-wrapper {
    width: 100%;
  }
  #site-header .menu-text a {
    padding-right: 83.5px;
  }
  #site-header .search::before {
    left: 82.5rem;
  }
  #site-header .user::before {
    left: 106rem;
  }
  #site-header .log-in::before {
    left: 116.5rem;
  }
}
@media(max-width: 1805px){

  #site-header .logo-service .top-service .text-top-service {
    display: grid;
  }

}

@media(max-width: 1610px){
  #site-header .search::before {
    left: 61rem;
  }
  #site-header .user::before {
    left: 85rem;
  }
  #site-header .log-in::before {
    left: 95rem;
  }

}
@media(max-width:1440px){

  #site-header .header-navigation-wrapper {
    width: 55%;
  }
  #site-header .logo-service .text-top-service span.h{
    display: table;
  }
  #site-header .text-menu h1 {
    font-size: 15px;
  }

  #site-header .menu-text a {
    padding-right: 30px;
  }
  #foot .text-head h3 {
    font-size: 2.5rem;
  } 
  #social .icon-social .icon-facebook {
    width: 50px;
    height: 50px;
  }
  #foot .footer-col{
    padding-left: 0;
    padding-right: 0;
    margin-top: 45px;

  }
  #social .icon-social .icon-mail {
    width: 50px;
    height: 50px;
  }
  #social .icon-social .icon-instargram {
    width: 50px;
    height: 50px;
  }
  #site-header .search::before {
    left: 17rem;
  }
  #site-header .user::before {
    left: 40.5rem;
  }
  #site-header .log-in::before {
    left: 51rem;
  }
  #foot .to-top {
    top: 379.5rem;
  }


}

/* max width 1366 */

@media(max-width:1366px){

  #site-header .header-navigation-wrapper {
    width: 57%;
  }
  #site-header .menu-text a {
    font-size: 18px;
    padding-right: 30px;
  }
  #site-header .search::before {
    left: 15.5rem;
  }
  #site-header .user::before {
    left: 39rem;
  }
  #site-header .log-in::before {
    left: 49.5rem;
  }
  #foot .text-head h3 {
    font-size: 3rem;
  }
  #site-header .menu-midle .search input[type="text"] {
    left: -21rem;
  }
  #site-header .text-menu h1 {
    font-size: 13px;
  }
  #social .icon-social .icon-facebook {
    width: 50px;
  }
  #social .icon-social .icon-mail {
    width: 50px;
  }
  #social .icon-social .icon-instargram {
    width: 50px;
  }
  #service .row {
    padding: 0 170px;
  }

}

@media(max-width:1285px){

  #site-header .logo-service .text-top-service span {
    font-size: 12px;
  }
 

}
/* Max width 1199 */

@media(max-width:1199px){

  #site-header .search::before {
    left: 11.5rem;
  }
  #site-header .logo-service .top-service .text-top-service {
    display: none;
  }
  #site-header .user::before {
    left: 35.5rem;
  }
  #site-header .log-in::before {
    left: 46rem;
  }

  #site-header .text-menu h1 {
    font-size: 11px;
  }
  #site-header .logo-service .text-top-service span {
    font-size: 8px;
  }
  #site-header .header-navigation-wrapper {
    width: 62%;
  }
  #site-header .menu-text a {
    font-size: 15px;
  }
  

  #child-img .child-text {
    font-size: 50px;
  }

  #social .icon-social .icon-facebook {
    width: 50px;
  }

  #social .icon-social .icon-mail{
    width: 50px;
  }
  #social .icon-social .icon-instargram{
    width: 50px;
  }


  #foot .footer-col .text-head h3{
    font-size: 25px;
  }
  #foot .footer-col .text-child a {
    font-size: 13px;
  }


}

@media(max-width:1040px){
  #site-header .user {
    padding-right: 10px;
  }
}

@media(max-width:1024px){
  #social .social-text {
    left: 33%;
  }
  

  #site-header .menu-text a {
    font-size: 13px;
  }
  #foot .footer-col .text-head h3 {
    font-size: 22px;
  }
  #social .icon-social .icon-facebook {
    width: 50px;
  }
  #social .icon-social .icon-mail {
    width: 50px;
  }
  #foot .footer-col{
    margin-bottom: 20px;
  }
  #social .icon-social .icon-instargram {
    width: 50px;
  }
  #site-header .header-navigation-wrapper {
    width: 89%;
  }
  #site-header .search::before {
    left: 8rem;
  }
  #site-header .user::before {
    left: 42rem;
  }
  #site-header .log-in::before {
    left: 32rem;
  }
  #shoe-col4 .shoe-text {
    font-size: 25px;
  }
  #service .row {
    padding: 0 125px;
  }
  #foot .to-top {
    top: 316.5rem;
  }
  #site-header .text-menu h1 {
    font-size: 11px;
  }


}

/* Max width 991 */

@media(max-width:991px) {



  .hamburger{
    display: block;
  }
  

  #site-header{
    max-width: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #site-header .menu-midle {
    justify-content: flex-end;
  }
  #site-header .header-navigation-wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    align-items: center;

  }
  #site-header .mid .col-1{
    padding: 0;
  }
  #site-header .menu-midle .search input[type="text"] {
    left: 22.5rem;
    width: 20%;
  }
  #site-header .section-inner {
    padding: 15px;
  }
  #site-header .search::before {
    display: none;
  }
  #drop a{
    font-size: 20px;
  }
  .dropdown::before {
    display: none;
  }
  #site-header .user::before {
    display: none;
  }
  #site-header .log-in::before {
    display: none;
  }

  #site-header .text-menu h1 {
    font-size: 11px;
  }
  #site-header .logo-service .top-service {
    display: block  ;
  }
  #site-header .logo-service {
    align-items: center;
  }
  #site-header .menu-text a {
    font-size: 14px;
    padding-right: 19px;
  }

  #shoe-col4{
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    width: 100%;
  }
  #child-img{
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    width: 100%;
  }
  
  
  #social{
    max-width: 100%;
    margin: 0;
    width: 100%;
  }
  #social .icon-social .icon-facebook {
    width: 50px;
  }
  #social .icon-social .icon-mail{
    width: 50px;
  }
  #social .icon-social .icon-instargram{
    width: 50px;
  }

  #foot{
    padding: 15px;
  }
  #foot .footer-col {
    padding-left: 0;
    padding-right: 0;
  }
  #foot .footer-col {
    margin-top: 20px;
  }
  #foot .footer-col .text-head h3 {
    font-size: 28px;
  }
  #foot .footer-col .text-child a {
    font-size: 15px;
  } 
  .header-inner.section-inner{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #mySidenav{
    display: block;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .ham{
    display: none;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav .closebtn {
    border-bottom: none;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #000000;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid rgb(0 0 0 / 22%);

  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  

 

}



/* styke max width 768 */

@media(max-width:768px){
  #site-header .header-navigation-wrapper{
    padding: 0 10px;
  }
  #social .social-text {
    left: 25%;
  }
  #site-header .menu-midle .dropdown .dropdown-content{
    min-width: 105px;
    min-height: 30px;
  }

  #site-header .menu-midle {
    padding-right: 0px;
  }
  #site-header .header-inner {
    padding: 0px;
  }
  #service .row {
    padding: 0 30px;
  }
  #child-img .col-6 {
    padding: 0 4px;
  }
  #site-header .cart .logo-cart {
    padding-right: 0;
  }
  .dropbtn {
    padding-right: 15px;
  }

  #foot .footer-col .col-3 .hid1 {
    display: none;
  }
  #foot .footer-col .col-3 .hid2 {
    display: none;
  }
  #foot .footer-col .col-3 .hid3 {
    display: none;
  }
  

  #site-header .menu-midle .user{
    display: none;
  }
  #site-header .menu-midle .user-login-respon .dropdown{
    display: block;
  }
  #site-header .menu-midle .user-login-respon .dropdown .dropdown-content {
    min-width: 160px;
    min-height: 30px;
  }
  .fa-sign-in:before {
    padding-right: 10px;
  }
  .dropdown-content a {
    padding: 3px 8px;
  }
  .fa-user:before {
    padding-right: 5px;
  }
  #site-header .search {
    padding-right: 10px;
  }
 

  #site-header .top-menu{
    display: none;
  }
  #site-header .menu-midle .search input[type="text"] {
    left: 14.5rem;
    width: 27%;
  }
  #site-header .log-in{
    position: absolute;
    left: 43rem;
    top: 3.5rem;
    box-shadow: 1px 2px 3px;
    z-index: 9999;
    padding: 0px 16px;
    display: none;
  }
  #site-header .text-cart{
    display: none;
  }
  #site-header .text-menu h1 {
    font-size: 8px;
  }
  #site-header .text-top-service{
    display: none;
  }
  #site-header .logo-service {
    align-items: center;
  }
  #site-header .logo-service .top-service {
    width: 100%;
  }
  #site-header .col-8{
    margin-left: 40px;
  }
  #site-header .menu-text a {
    font-size: 11px;
    padding-right: 11px;
  }
  #shoe-col4 .shoe-text {
    font-size: 20px;
  }
  #child-img .child-text {
    font-size: 40px;
  }
  #social .icon-social .icon-facebook {
    width: 50px;

  }
  #social .icon-social .icon-mail{
    width: 50px;
  }
  #foot .footer-col .img-logo img {
    width: 40%;
    margin-bottom: 20px;
  }
  #social .icon-social .icon-instargram{
    width: 50px;
  }
  #foot .footer-col .text-head h3 {
    font-size: 25px;
    justify-content: space-between;
  }
  #foot .footer-col .text-child a {
    font-size: 15px;
  }
  #foot .to-top {
    top: 371.5rem;
  }
  #foot .footer-col{
    display: block;
  }
  #foot .footer-col .col-3{
    width: 100%;
    max-width: 100%;
  }
  #foot .footer-col .col-3 ul{
    list-style-type: none;
  }
  #foot .footer-col .img-logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;  
  }
  #foot .input-email {
    padding: 0 5%;
  }
  
  .text-head , .text-child{
    padding-left: 0%;
    padding-right: 0%;
  }
  #foot .footer-col .connect {
    padding-left: 10%;
  }
  .logo-so{
    padding-left: 10%;
  }
  #foot .footer-col .img-logo {
    padding-top: 0;
  }
  #foot .header-footer .head-text h1 {
    font-size: 25px;
  }
  
  #foot .footer-col .text-head h3{
    display: flex;
    
  }
  #foot .footer-col {
    margin-top: 10px;
  }

  #foot .footer-col .text-head .fa-caret-down{
    display: block;
    padding-left: 30px;
  }
   #foot .footer-col .hid1{
    height: 0%;
    width: 100%;
    overflow-x: hidden;
    display: none;
    transition: 0.5s;
   }
   #foot .footer-col .hid2{
    height: 0%;
    width: 100%;
    overflow-x: hidden;
    display: none;
    transition: 0.5s;
   }

}

/* style max width 575 */


@media(max-width:575px){

  #shoe-col4 .col-3 {
    flex: 0 0 50%;
    max-width: 100%;
  }
  #child-img .col-6{
    flex: 0 0 100%;
    max-width: 100%;
  }
  #foot .footer-col .img-logo {
    padding-bottom: 20px;
  }

  .text-head h3{
    justify-content: space-between;
  }
  .text-head, .text-child {
    padding-left: 0;
    padding-right: 0;
  }
  #social .col-3{
    flex: 0 0 50%;
    max-width: 100%;
    padding: 2px 0;
  }
  .dropbtn {
    padding: 0 5px;
  }
  #site-header .menu-midle .dis{
    display: none;
  }
  .dropdown-content {
    min-width: 40px;
  }
  #site-header .header-titles-wrapper {
    justify-content: center;
    padding: 0 1.5rem;
  }
  #foot .to-top {
    top: 532.5rem;
  }
  #foot .footer-col .text-head h3{
    justify-content: space-between;
  }
  #site-header .menu-midle {
    padding-right: 0px;
  }
  #shoe-col4 .shoe .shoe-img {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #child-img .child-img{
    padding: 5px 0;
  }

  #child-img .child-text {
    font-size: 40px;
  }
  #social .icon-social .icon-facebook {
    width: 50px;
  }
  #social .icon-social .icon-mail {
    width: 50px;
  }
  #social .icon-social .icon-instargram {
    width: 50px;
  }
  #service .row{
    display: block;
  }
  #service .row .col-4{
    width: 100%;
    max-width: 100%;
  }
  #foot .header-footer .head-text h1 {
    font-size: 19px;
  }
  #foot .header-footer .head-text h2 {
    font-size: 15px;
  }
  #foot .footer-col .connect {
    padding-left: 10%;
  }
  #site-footer .footer-credits {
    text-align: center;
  }
  #shoe-col4 .shoe-text {
    font-size: 25px;
  }
  #site-header .log-in {
    left: 27rem;
  }
  #site-header .menu-midle .search input[type="text"] {
    left: 8.5rem;
    width: 50%;
  }
  .logo-so {
    padding-left: 10%;
  }
  #foot .footer-col .text-head h3 {
    font-size: 25px;
  }
  #foot .footer-col .text-child a {
    font-size: 20px;
  }
  #foot .footer-col .connect {
    padding-left: 10%;
  }
  #social .text-bundgaard span {
    font-size: 70px;
  }
  

}

/* style max width 478 */

@media(max-width:478px){

  #foot .footer-col .text-child a {
    font-size: 15px;
  }

  #shoe-col4 .shoe div {
    padding-top: 2px;
  }
  .dropbtn {
    font-size: 12px;
  }
  #site-header .mid {
    padding: 0px 15px;
  }

  #site-header .log-in {
    left: 19rem;
  }
  #shoe-col4 .shoe-text {
    font-size: 25px;
  }
  #social .text-bundgaard span {
    font-size: 60px;
  }
  #social .icon-social {
    padding-left: 30%;
    padding-right: 30%;
  }
  #social .icon-social .icon-facebook {
    width: 50px;
  }
  #social .icon-social .icon-mail {
    width: 50px;
  }
  #social .icon-social .icon-instargram {
    width: 50px;
  }
  #foot .header-footer .head-text h1 {
    font-size: 16px;
  }
  #foot .header-footer .head-text h2 {
    font-size: 12px;
  }
  #foot .footer-col .text-head h3 {
    font-size: 20px;
  }
  #foot .to-top {
    top: 476.5rem;
  }

}

@media(max-width:425px){

  #foot .footer-col .img-logo img {
    width: 40%;
  }
  .social-container {
    padding-top: 15px;
    
  }
  .social-container .row {
    margin-top: 0;
  }
  #site-header .menu-midle .user-login-respon .dropdown .dropdown-content {
    min-width: 30px;
  }
  #site-header .menu-midle .dropdown .dropdown-content {
    min-width: 70px;
    min-height: 30px;
  }

  #foot .input-email {
    padding-left: 0%;
    padding-right: 0%;
    display: flex;
    margin: 30px;
  }
  #foot .header-footer .head-text h1 {
    font-size: 14px;
  }
  #site-header .menu-midle a {
    font-size: 13px;
  }
  #site-header .header-titles img{
    max-width: 215px;
    padding-top: 20px;
  }
  #shoe-col4 .shoe .shoe-img {
    padding: 2px;
    
  }
  #social .text-bundgaard span {
    font-size: 45px;
  }
  #social .icon-social .icon-facebook {
    width: 50px;
  }
  #social .icon-social .icon-mail {
    width: 50px;
  }
  #social .icon-social .icon-instargram {
    width: 50px;
  }
  #social .social-text {
    top: 50%;
    left: 30%;
  }
  #foot .footer-col .text-child a {
    font-size: 15px;
  }
  #foot .footer-col .text-head h3 {
    font-size: 25px;
  }  
  #foot .to-top {
    top: 444.5rem;
  }

}
@media(max-width:375px){

  #foot .footer-col .text-head h3 {
    font-size: 20px;
  }
  #social .social-text {
    top: 50%;
    left: 40%;
  }
  #foot .to-top a {
    width: 40px;
    height: 40px;
    line-height: 34px;
  }
  #social .col-3 {
    flex: 0 0 100%;
  }
  #foot {
    text-align: center;
    background-color: #c4d6d6;
    padding: 10px 20px;
    padding-bottom: 5px;
  }
  #foot .to-top {
    top: 407.5rem;
  }
  #site-footer .footer-credits span {
    font-size: 12px;
  }
  .sidenav a {
    font-size: 17px;
  }

  .header-footer .head-text h1 {
    font-size: 12px;
  }
  #social .icon-social .icon-facebook {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
  #social .icon-social .icon-mail {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
  #social .icon-social .icon-instargram {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
  }
  #service .row {
    padding: 0;
  }
  #shoe-col4 .col-3 {
    flex: 0 0 100%;
  }
  #shoe-col4 .shoe-text {
    font-size: 35px;
  }


 

}

@media(max-width:320px){

  #shoe-col4 .shoe-text {
    font-size: 30px;
  }
  #social .text-bundgaard span {
    font-size: 40px;
  }

  #foot .header-footer .head-text h1 {
    font-size: 16px;
  }
  #social .icon-social .icon-facebook {
    width: 35px;
    line-height: 35px;
    height: 35px;
    font-size: 20px;
  }
  .text-long .more .morecontent a {
    width: 100px;
    height: 32px;
    padding: 7px;
    font-size: 11px;
    margin-left: 45px;
  }
  #text-toggle .text-all .head h1 {
    font-size: 30px;
  }
  #text-toggle .text-all .more {
    font-size: 15px;
  }
  #foot .to-top {
    top: 384.5rem;
    right: 30px;
  }
  #foot .to-top a {
    width: 35px;
    height: 35px;
    line-height: 30px;
  }
  #social .icon-social .icon-mail {
    width: 35px;
    line-height: 35px;
    height: 35px;
    font-size: 20px;
  }
  #social .icon-social .icon-instargram {
    width: 35px;
    line-height: 35px;
    height: 35px;
    font-size: 20px;
  }
  #site-footer .footer-credits span {
    font-size: 10px;
  }

}

