/* Style Responsive */

/* <-----------------------------------------------------------------------------> */


@media(max-width: 1848px){
    #site-header .header-navigation-wrapper {
      width: 100%;
    }
    #site-header .menu-text a {
      padding-right: 83.5px;
    }
    #site-header .search::before {
      left: 82.5rem;
    }
    #site-header .user::before {
      left: 106rem;
    }
    #site-header .log-in::before {
      left: 116.5rem;
    }
  }
  @media(max-width: 1805px){
  
    #site-header .logo-service .top-service .text-top-service {
      display: grid;
    }
  
  }
  
  @media(max-width: 1610px){
    #site-header .search::before {
      left: 61rem;
    }
    #site-header .user::before {
      left: 85rem;
    }
    #site-header .log-in::before {
      left: 95rem;
    }
  
  }
  @media(max-width:1440px){
  
    #site-header .header-navigation-wrapper {
      width: 55%;
    }
    #site-header .logo-service .text-top-service span.h{
      display: table;
    }
    #site-header .text-menu h1 {
      font-size: 15px;
    }
  
    #site-header .menu-text a {
      padding-right: 30px;
    }
    #foot .text-head h3 {
      font-size: 2.5rem;
    } 
    #social .icon-social .icon-facebook {
      width: 50px;
      height: 50px;
    }
    #foot .footer-col{
      padding-left: 0;
      padding-right: 0;
      margin-top: 45px;
  
    }
    #social .icon-social .icon-mail {
      width: 50px;
      height: 50px;
    }
    #social .icon-social .icon-instargram {
      width: 50px;
      height: 50px;
    }
    #site-header .search::before {
      left: 17rem;
    }
    #site-header .user::before {
      left: 40.5rem;
    }
    #site-header .log-in::before {
      left: 51rem;
    }
    #foot .to-top {
      top: 379.5rem;
    }
    #foot .to-top a {
      left: 95.5%;
    }
  
  
  }
  
  /* max width 1366 */
  
  @media(max-width:1366px){
  
    #site-header .menu-midle .search .but-search {
      left: 90.5%
    }
  
    #site-header .header-navigation-wrapper {
      width: 57%;
    }
    #site-header .menu-text a {
      font-size: 18px;
      padding-right: 30px;
    }
    #site-header .search::before {
      left: 15.5rem;
    }
    #site-header .user::before {
      left: 39rem;
    }
    #site-header .log-in::before {
      left: 49.5rem;
    }
    #foot .text-head h3 {
      font-size: 3rem;
    }
    #site-header .text-menu h1 {
      font-size: 13px;
    }
    #social .icon-social .icon-facebook {
      width: 50px;
    }
    #social .icon-social .icon-mail {
      width: 50px;
    }
    #social .icon-social .icon-instargram {
      width: 50px;
    }
    #service .row {
      padding: 0 170px;
    }
  
  }
  
  @media(max-width:1285px){
  
    #site-header .logo-service .text-top-service span {
      font-size: 12px;
    }
   
  
  }
  /* Max width 1199 */
  
  @media(max-width:1199px){
  
    #site-header .search::before {
      left: 11.5rem;
    }
    #site-header .logo-service .top-service .text-top-service {
      display: none;
    }
    #site-header .user::before {
      left: 35.5rem;
    }
    #site-header .log-in::before {
      left: 46rem;
    }
  
    #site-header .text-menu h1 {
      font-size: 11px;
    }
    #site-header .logo-service .text-top-service span {
      font-size: 8px;
    }
    #site-header .header-navigation-wrapper {
      width: 62%;
    }
    #site-header .menu-text a {
      font-size: 15px;
    }
    
  
    #child-img .child-text {
      font-size: 50px;
    }
  
    #social .icon-social .icon-facebook {
      width: 50px;
    }
  
    #social .icon-social .icon-mail{
      width: 50px;
    }
    #social .icon-social .icon-instargram{
      width: 50px;
    }
  
  
    #foot .footer-col .text-head h3{
      font-size: 25px;
    }
    #foot .footer-col .text-child a {
      font-size: 13px;
    }
  
  
  }
  
  @media(max-width:1040px){
    #site-header .user {
      padding-right: 10px;
    }
    #site-header .menu-midle .search .but-search {
      left: 89.5%;
    }
  
  }
  
  @media(max-width:1024px){
    #social .social-text {
      left: 33%;
    }
    
  
    #site-header .menu-text a {
      font-size: 13px;
    }
    #foot .footer-col .text-head h3 {
      font-size: 22px;
    }
    #social .icon-social .icon-facebook {
      width: 50px;
    }
    #social .icon-social .icon-mail {
      width: 50px;
    }
    #foot .footer-col{
      margin-bottom: 20px;
    }
    #social .icon-social .icon-instargram {
      width: 50px;
    }
    #site-header .header-navigation-wrapper {
      width: 89%;
    }
    #site-header .search::before {
      left: 8rem;
    }
    #site-header .user::before {
      left: 42rem;
    }
    #site-header .log-in::before {
      left: 32rem;
    }
    #shoe-col4 .shoe-text {
      font-size: 25px;
    }
    #service .row {
      padding: 0 125px;
    }
    #foot .to-top {
      top: 316.5rem;
    }
    #site-header .text-menu h1 {
      font-size: 11px;
    }
    #foot .to-top a {
      left: 94.5%;
    }
  
  
  }
  
  /* Max width 991 */
  
  @media(max-width:991px) {
  
    .social-container{
      padding-top: 0;
    }
    #social .gallery {
      margin: 2em 0 2em 0em;
    }
    .hamburger{
      display: block;
    }
    #foot .head-text{
      padding: 0 20px;
    }
    #social .row{
      margin-top: 0;
    }
    #text-toggle {
      padding: 0 30px;
    }
    #text-toggle .text-all .head h1 {
      margin: 0;
      margin-bottom: 10px;
    }
    .text-long .more .morecontent a {
      margin-bottom: 0px;
    }
    
  
    #site-header{
      max-width: 100%;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    #site-header .menu-midle {
      justify-content: flex-end;
    }
    #site-header .header-navigation-wrapper {
      display: flex;
      width: 100%;
      max-width: 100%;
      align-items: center;
  
    }
    #site-header .mid .col-1{
      padding: 0;
    }
    #site-header .section-inner {
      padding: 15px;
    }
    #site-header .search::before {
      display: none;
    }
    #drop a{
      font-size: 20px;
    }
    .dropdown::before {
      display: none;
    }
    #site-header .user::before {
      display: none;
    }
    #site-header .log-in::before {
      display: none;
    }
  
    #site-header .text-menu h1 {
      font-size: 11px;
    }
    #site-header .logo-service .top-service {
      display: block  ;
    }
    #site-header .logo-service {
      align-items: center;
    }
    #site-header .menu-text a {
      font-size: 14px;
      padding-right: 19px;
    }
  
    #shoe-col4{
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
      width: 100%;
    }
    #child-img{
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      margin: 0;
      width: 100%;
    }
    
    
    #social{
      max-width: 100%;
      margin: 0;
      width: 100%;
    }
    #social .icon-social .icon-facebook {
      width: 50px;
    }
    #social .icon-social .icon-mail{
      width: 50px;
    }
    #social .icon-social .icon-instargram{
      width: 50px;
    }
  
    #foot{
      padding: 15px;
    }
    #foot .footer-col {
      padding-left: 0;
      padding-right: 0;
    }
    #foot .footer-col {
      margin-top: 20px;
    }
    #foot .footer-col .text-head h3 {
      font-size: 28px;
    }
    #foot .footer-col .text-child a {
      font-size: 15px;
    } 
    .header-inner.section-inner{
      margin: 0;
      padding: 0;
      width: 100%;
    }
    #mySidenav{
      display: block;
    }
    
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
    
    .ham{
      display: none;
    }
    .sidenav {
      height: 100%;
      width: 0px;
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      background-color: #ffffff;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      float: left;
      
    }
    
    .sidenav .closebtn {
      border-bottom: none;
    }
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 20px;
      color: #000000;
      display: block;
      width: 280px;
  
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      padding-left: 85%;
      text-align: end;
    }
  
  }
  
  /* styke max width 768 */
  
  @media(max-width:768px){
    #site-header .header-navigation-wrapper{
      padding: 0 20px;
    }
    #site-header .menu-midle .search .but-search {
      left: 85.5%;
    }
    .gallery {
      margin: 2em 0 2em 0;
    }
    #social .social-text {
      left: 25%;
    }
    #site-header .user-login-respon .dropbtn{
      outline: 0;
    }
    #site-header .menu-midle .dropdown .dropdown-content{
      min-width: 105px;
      min-height: 30px;
    }
    #site-header .header-titles{
      width: 25%;
    }
    #site-header .header-titles img {
      padding-left: 0px;
    }
  
    #site-header .menu-midle {
      padding-right: 0px;
    }
    #site-header .header-inner {
      padding: 0px;
    }
    #service .row {
      padding: 0 30px;
    }
    #child-img .col-6 {
      padding: 0 4px;
    }
    #site-header .cart .logo-cart {
      padding-right: 0;
    }
    .dropbtn {
      padding-right: 15px;
    }
  
    #foot .footer-col .col-3 .hid1 {
      display: none;
    }
    #foot .footer-col .col-3 .hid2 {
      display: none;
    }
    #foot .footer-col .col-3 .hid3 {
      display: none;
    }
    
  
    #site-header .menu-midle .user{
      display: none;
    }
    #site-header .menu-midle .user-login-respon .dropdown{
      display: block;
    }
    #site-header .menu-midle .user-login-respon .dropdown .dropdown-content {
      min-width: 160px;
      min-height: 30px;
    }
    .fa-sign-in:before {
      padding-right: 10px;
    }
    .dropdown-content a {
      padding: 3px 8px;
    }
    .fa-user:before {
      padding-right: 5px;
    }
    #site-header .search {
      padding-right: 10px;
    }
    #site-header .search .cloce-search i {
      left: 95%;
    }
  
    #site-header .top-menu{
      display: none;
    }
    #site-header .log-in{
      position: absolute;
      left: 43rem;
      top: 3.5rem;
      box-shadow: 1px 2px 3px;
      z-index: 9999;
      padding: 0px 16px;
      display: none;
    }
    #site-header .text-cart{
      display: none;
    }
    #site-header .text-menu h1 {
      font-size: 8px;
    }
    #site-header .text-top-service{
      display: none;
    }
    #site-header .logo-service {
      align-items: center;
    }
    #site-header .logo-service .top-service {
      width: 100%;
    }
    #site-header .col-8{
      margin-left: 40px;
    }
    #site-header .menu-text a {
      font-size: 11px;
      padding-right: 11px;
    }
    #shoe-col4 .shoe-text {
      font-size: 20px;
    }
    #child-img .child-text {
      font-size: 40px;
    }
    #social .icon-social .icon-facebook {
      width: 50px;
  
    }
    #social .icon-social .icon-mail{
      width: 50px;
    }
    #foot .footer-col .img-logo img {
      width: 40%;
      margin-bottom: 20px;
    }
    #social .icon-social .icon-instargram{
      width: 50px;
    }
    #foot .footer-col .text-head h3 {
      font-size: 25px;
      justify-content: space-between;
    }
    #foot .footer-col .text-child a {
      font-size: 15px;
    }
    #foot .to-top {
      top: 371.5rem;
    }
    #foot .footer-col{
      display: block;
    }
    #foot .footer-col .col-3{
      width: 100%;
      max-width: 100%;
      padding: 0 20px;
  
    }
    #foot .footer-col .col-3 ul{
      list-style-type: none;
    }
    #foot .logo-so {
      padding: 0 5px;
    }
    #text-toggle {
      padding: 0 20px;
    }
    #foot .footer-col .img-logo img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;  
    }
    #foot .input-email {
      padding: 0 5%;
    }
    
    .text-head , .text-child{
      padding-left: 0%;
      padding-right: 0%;
    }
    #foot .footer-col .connect {
      padding-left: 10%;
    }
    #foot .footer-col .img-logo {
      padding-top: 0;
    }
    #foot .header-footer .head-text h1 {
      font-size: 25px;
    }
    
    #foot .footer-col .text-head h3{
      display: flex;
      
    }
    #foot .footer-col {
      margin-top: 10px;
    }
  
    #foot .footer-col .text-head .fa-caret-down{
      display: block;
      -moz-transition: transform .5s;
      -webkit-transition: transform .5s;
      transition: transform .5s;
  
    }
    .flip {
      transform: rotate(-90deg);
    }
  
     #foot .footer-col .hid1{
      height: 0%;
      width: 100%;
      overflow-x: hidden;
      display: none;
     }
     #foot .footer-col .hid2{
      height: 0%;
      width: 100%;
      overflow-x: hidden;
      display: none;
     }
     #foot .to-top a {
      left: 92.5%;
    }
  
  }
  
  /* style max width 575 */
  
  
  @media(max-width:575px){
    #carouselExampleIndicators{
      padding-bottom: 5px;
    }
    #carouselExampleIndicators .carousel-indicators {
      margin-bottom: 2%;
    }
    .social-container{
      padding-top: 15px;
    }
    .social-container .row {
      margin-top: 0;
    }
    #text-toggle {
      padding: 1px 30px;
    }
    #shoe-col4 .col-3 {
      flex: 0 0 50%;
      max-width: 100%;
    }
    #site-header .menu-midle .search .but-search {
      left: 82.5%;
    }
    #child-img .col-6{
      flex: 0 0 100%;
      max-width: 100%;
    }
    #foot .footer-col .img-logo {
      padding-bottom: 20px;
    }
  
    .text-head h3{
      justify-content: space-between;
    }
    .text-head, .text-child {
      padding-left: 0;
      padding-right: 0;
    }
    #social .col-3{
      flex: 0 0 50%;
      max-width: 100%;
      padding: 5px 5px;
    }
    .dropbtn {
      padding: 0 5px;
    }
    #site-header .menu-midle .dis{
      display: none;
    }
    .dropdown-content {
      min-width: 40px;
    }
    #site-header .header-titles-wrapper {
      justify-content: center;
      padding: 0 1.5rem;
    }
    #foot .to-top {
      top: 532.5rem;
    }
    #foot .footer-col .text-head h3{
      justify-content: space-between;
    }
    #site-header .menu-midle {
      padding-right: 0px;
    }
    #shoe-col4 .shoe .shoe-img {
      padding: 5px 5px;
    }
    #child-img .child-img{
      padding: 5px 0;
    }
  
    #child-img .child-text {
      font-size: 40px;
    }
    #social .icon-social .icon-facebook {
      width: 50px;
    }
    #social .icon-social .icon-mail {
      width: 50px;
    }
    #social .icon-social .icon-instargram {
      width: 50px;
    }
    #service .row{
      display: block;
    }
    #service .row .col-4{
      width: 100%;
      max-width: 100%;
    }
    #foot .header-footer .head-text h1 {
      font-size: 19px;
    }
    #foot .header-footer .head-text h2 {
      font-size: 15px;
    }
    #foot .footer-col .connect {
      padding-left: 10%;
    }
    #site-footer .footer-credits {
      text-align: center;
    }
    #shoe-col4 .shoe-text {
      font-size: 25px;
    }
    #site-header .log-in {
      left: 27rem;
    }
    #site-header .search .cloce-search i {
      left: 93%;
    }
  
    #foot .footer-col .text-head h3 {
      font-size: 25px;
    }
    #foot .footer-col .text-child a {
      font-size: 20px;
    }
    #foot .footer-col .connect {
      padding-left: 10%;
    }
    #social .text-bundgaard span {
      font-size: 70px;
    }
    #foot .to-top a {
      left: 90.5%;
    }
    
  
  }
  
  /* style max width 478 */
  
  @media(max-width:478px){
  
    .text-long .more .morecontent a {
      margin-bottom: 20px;
    }
    .text-long .more .morecontent a {
      width: 100%;
    }
    #foot .footer-col .text-child a {
      font-size: 15px;
    }
    #carouselExampleIndicators .carousel-indicators{
      display: none;
    }
    #carouselExampleIndicators .carousel-control-next-icon, 
    #carouselExampleIndicators .carousel-control-prev-icon {
      display: inline-block;
    }
  
    #site-header .menu-midle .search .but-search {
      left: 80.5%;
    }
    #foot .head-text{
      padding: 0 20px;
    }
  
    .dropbtn {
      font-size: 12px;
    }
    #site-header .mid {
      padding: 0px 15px;
    }
  
    #site-header .log-in {
      left: 19rem;
    }
    #shoe-col4 .shoe-text {
      font-size: 25px;
    }
    #social .text-bundgaard span {
      font-size: 60px;
    }
    #social .icon-social .icon-facebook {
      width: 50px;
    }
    #social .icon-social .icon-mail {
      width: 50px;
    }
    #social .icon-social .icon-instargram {
      width: 50px;
    }
    #foot .header-footer .head-text h1 {
      font-size: 14px;
    }
    #foot .header-footer .head-text h2 {
      font-size: 12px;
    }
    #foot .footer-col .text-head h3 {
      font-size: 20px;
    }
    #foot .to-top {
      top: 476.5rem;
    }
    #foot .to-top a {
      left: 88.5%;
    }
  
  }
  
  @media(max-width:425px){
  
    #foot .footer-col .img-logo img {
      width: 40%;
    }
    .social-container {
      padding-top: 15px;
      
    }
    #site-header .menu-midle .search .but-search {
      left: 78.5%;
   }
  
  
    .social-container .row {
      margin-top: 0;
    }
    #site-header .menu-midle .user-login-respon .dropdown .dropdown-content {
      min-width: 30px;
    }
    #site-header .menu-midle .dropdown .dropdown-content {
      min-width: 70px;
      min-height: 30px;
    }
  
    #foot .input-email {
      padding-left: 0%;
      padding-right: 0%;
      display: flex;
      margin: 30px;
    }
    #foot .header-footer .head-text h1 {
      font-size: 13px;
    }
    #site-header .menu-midle a {
      font-size: 13px;
    }
    #site-header .header-titles img{
      max-width: 100%;
      padding-top: 5px;
    }
    #social .text-bundgaard span {
      font-size: 45px;
    }
    #social .icon-social .icon-facebook {
      width: 50px;
    }
    #social .icon-social .icon-mail {
      width: 50px;
    }
    #social .icon-social .icon-instargram {
      width: 50px;
    }
    #social .social-text {
      top: 50%;
      left: 30%;
    }
    #foot .footer-col .text-child a {
      font-size: 15px;
    }
    #foot .footer-col .text-head h3 {
      font-size: 25px;
    }  
    #foot .to-top {
      top: 444.5rem;
    }
    #site-header .search .cloce-search i {
      left: 91%;
    }
    #foot .to-top a {
      left: 86.5%;
    }
  
  }
  @media(max-width:375px){
  
    #foot .footer-col .text-head h3 {
      font-size: 20px;
    }
    #site-header .menu-midle .search .but-search {
      left: 74.5%;
    }
    #social .social-text {
      top: 50%;
      left: 40%;
    }
    #foot .to-top a {
      width: 40px;
      height: 40px;
      line-height: 34px;
    }
    #social .col-3 {
      flex: 0 0 100%;
    }
    #foot {
      text-align: center;
      background-color: #c4d6d6;
      padding: 10px 20px;
      padding-bottom: 5px;
    }
    #foot .to-top {
      top: 407.5rem;
    }
    #site-footer .footer-credits span {
      font-size: 12px;
    }
    .sidenav a {
      font-size: 17px;
    }
  
    .header-footer .head-text h1 {
      font-size: 12px;
    }
    #social .icon-social .icon-facebook {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
    }
    #social .icon-social .icon-mail {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
    }
    #social .icon-social .icon-instargram {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 40px;
    }
    #foot .header-footer .head-text h1 {
      font-size: 10px;
    }
    #foot .header-footer .head-text h2 {
      font-size: 10px;
    }
    #service .row {
      padding: 0;
    }
    #shoe-col4 .col-3 {
      flex: 0 0 100%;
    }
    #shoe-col4 .shoe-text {
      font-size: 35px;
    }
  
  }
  
  @media(max-width:320px){
  
    #shoe-col4 .shoe-text {
      font-size: 30px;
    }
    #social .text-bundgaard span {
      font-size: 40px;
    }
    #site-header .menu-midle .search .but-search {
      left: 71.5%;
    }
    #foot .header-footer .head-text h1 {
      font-size: 9px;
    }
    #social .icon-social .icon-facebook {
      width: 35px;
      line-height: 35px;
      height: 35px;
      font-size: 20px;
    }
    #text-toggle .text-all .head h1 {
      font-size: 30px;
    }
    #text-toggle .text-all .more {
      font-size: 15px;
    }
    #foot .to-top {
      top: 384.5rem;
      right: 30px;
    }
    #foot .to-top a {
      width: 35px;
      height: 35px;
      line-height: 30px;
    }
    #social .icon-social .icon-mail {
      width: 35px;
      line-height: 35px;
      height: 35px;
      font-size: 20px;
    }
    #social .icon-social .icon-instargram {
      width: 35px;
      line-height: 35px;
      height: 35px;
      font-size: 20px;
    }
    #site-footer .footer-credits span {
      font-size: 10px;
    }
  
  }